"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "advanced-open-file":
    fuzzyMatch: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atomic-emacs":
    alwaysUseKillRing: true
    yankFromClipboard: true
  core:
    disabledPackages: [
      "activate-power-mode"
      "ide-typescript"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/home/martin/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "zenburn-syntax"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    preferredLineLength: 100
    showLineNumbers: false
  "exception-reporting":
    userId: "0f3db36f-888b-4fc6-95c2-83dd854fbb87"
  fonts:
    fontFamily: "Droid Sans Mono"
  "language-babel": {}
  "prettier-atom":
    formatOnSaveOptions: {}
  "project-manager":
    alwaysOpenInSameWindow: true
  "status-bar": {}
  welcome:
    showOnStartup: false
