"*":
  "advanced-open-file":
    fuzzyMatch: true
  "atomic-emacs":
    alwaysUseKillRing: true
    yankFromClipboard: true
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: []
    projectHome: "/home/martin/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    showLineNumbers: false
  "exception-reporting":
    userId: "0f3db36f-888b-4fc6-95c2-83dd854fbb87"
  "language-babel": {}
  "prettier-atom":
    formatOnSaveOptions: {}
  "status-bar": {}
  welcome:
    showOnStartup: false
