"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "advanced-open-file":
    fuzzyMatch: true
  "atom-ide-ui":
    use: {}
  "atomic-emacs":
    alwaysUseKillRing: true
    yankFromClipboard: true
  core:
    disabledPackages: [
      "activate-power-mode"
      "ide-typescript"
      "linter"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/home/martin/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "zenburn-syntax"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    fontSize: 13
    preferredLineLength: 110
    showLineNumbers: false
  "exception-reporting":
    userId: "0f3db36f-888b-4fc6-95c2-83dd854fbb87"
  fonts:
    fontFamily: "Droid Sans Mono"
  hidpi:
    defaultScaleFactor: 2
    manualResolutionScaleFactors: "\"1920x1080\": 1, \"2560x1440\": 1.2, \"3840x2160\": 1.2"
    scaleFactor: 1
    updateOnResize: false
  "language-babel": {}
  "prettier-atom":
    formatOnSaveOptions: {}
  "project-manager":
    alwaysOpenInSameWindow: true
  "spell-check": {}
  "status-bar": {}
  welcome:
    showOnStartup: false
