"atom-text-editor:not([mini])":
  # Emacs-like auto indent on tab.
  "tab": "editor:auto-indent"

"atom-workspace":
  # Emacs-like opening of new window/pane.
  "ctrl-x 2": "pane:split-down-and-copy-active-item"
  "ctrl-x 3": "pane:split-right-and-copy-active-item"

  # Toggle (I prefix them with ctrl-t).
  "ctrl-t g": "github:toggle-git-tab"
  "ctrl-t p": "tree-view:toggle"

  # All commands related to projects.
  "ctrl-c p f": "fuzzy-finder:toggle-file-finder"  # Find file in project.
  "ctrl-c p l": "project-manager:list-projects"
  "ctrl-c p s": "project-find:show"  # Find string in project.

"body":
  # Emacs-like movement.
  "ctrl-n": "core:move-down"
  "ctrl-p": "core:move-up"
  # Move to previous or next tab.
  'alt--': 'pane:show-previous-item'
  'alt-=': 'pane:show-next-item'

".platform-linux":
  "alt": "abort!"  # Don't toggle menu bar on alt.


"atom-workspace atom-text-editor:not([mini])":
  # To make sure ctrl-/ always does undo, and not toggle comments in situation specified below.
  "ctrl-/": "core:undo"

  # Do advanced search (overrides search from atomic emacs).
  "ctrl-s": "find-and-replace:show"

# TODO: Make it so that when I press tab, except of auto-indent
# it also moves tab to the first character in the line. It does that already
# if character is not in first column.
