*~

/elpa/

/url/cookies
/amx-items
/projectile-bookmarks.eld
/projectile.cache
/recentf
/auto-save-list/
/eln-cache/
/transient/
/games/
/eshell/
/.cache/
/.lsp-session-v*
/tree-sitter/
/tramp
/oauth2-auto.plist
/persist/
/.org-generic-id-locations
/.org-id-locations
/request/
/bookmarks
/multisession/files/emoji/
/projects
/forge-database.sqlite

/safe-local-variable-directories.eld

/.claude/*.local.*

# /result -> outputs of nix build.
/result
/result-*
