/elpa/
/amx-items
/elpaca/
/projectile-bookmarks.eld
/projectile.cache
/recentf
/auto-save-list/
/eln-cache/
/transient/
/games/
/eshell/
/.cache/
/.lsp-session-v*
/tree-sitter/
/tramp
/oauth2-auto.plist
/persist/
/.org-generic-id-locations
/.org-id-locations
/request/
*~
